# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
"node_modules/" 

# ignore files
node_modules
web/node_modules
studio/node_modules
node_modules
node_modules
