@font-face {
	font-family: 'Poppins Art';
	src: url('/Poppins/Poppins-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins Art';
	src: url('/Poppins/Poppins-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins Art';
	src: url('/Poppins/Poppins-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins Art';
	src: url('/Poppins/Poppins-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins Art';
	src: url('/Poppins/Poppins-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins Art';
	src: url('/Poppins/Poppins-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Poppins Art';
	src: url('/Poppins/Poppins-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins Art';
	src: url('/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins Art';
	src: url('/Poppins/Poppins-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins Art';
	src: url('/Poppins/Poppins-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}
// Hyperwave
@font-face {
	font-family: 'Hyperwave';
	src: url('/hyperwave/Hyperwave.otf') format('truetype');
}
// Chelantro
@font-face {
	font-family: 'Chelantro';
	src: url('/chelantro/Chelantro.ttf') format('truetype');
}
h1 {
	font-size: $h1;
	line-height: 1.1;
	color: $white;
	font-weight: 500;
	font-family: 'Chelantro';

	span {
		font-family: 'Chelantro';
	}

	@media (max-width: 700px) {
		font-size: $mobile-h1;
	}
}
h2 {
	font-size: $h2;
	line-height: 1;
	font-weight: 500;
	font-family: 'Chelantro';

	@media (max-width: 700px) {
		font-size: $mobile-h2;
	}
}
h3 {
	font-size: $h3;
	line-height: 1.3;
	font-weight: 500;

	@media (max-width: 700px) {
		font-size: $mobile-h3;
	}
}

p {
	line-height: 1.6;
	font-size: $text;
	color: $white;
	font-weight: 300;

	&.tag {
		font-size: $text;
		line-height: 1.2;
		font-weight: 500;
	}

	@media (max-width: 700px) {
		font-size: $mobile-text;
	}
}
