*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Poppins Art', sans-serif;
	font-weight: 400;
}

html,
body {
	overflow-x: hidden !important;
}

body {
	background-color: $white;
}
ul,
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: $black;
}
img {
	max-width: 100%;
	font-style: italic;
	width: 100%;

	&.icon {
		width: 2rem;
	}
}
header,
section,
main,
footer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper {
	width: 100%;
	max-width: 1440px;
	padding: 6rem 4rem;

	@media (max-width: 700px) {
		padding-inline: 2rem;
	}
	@media (max-width: 500px) {
		padding-inline: 1rem;
	}
}
