// Colours
$white: #ffffff;
$black: #030303;
$light-black: #131313;
$blue: #69afb8;
$purple: #532b77;

// Font Sizing
$h1: 112px;
$mobile-h1: 80px;

$h2: 96px;
$mobile-h2: 48px;

$h3: 32px;
$mobile-h3: 24px;

$text: 16px;
$mobile-text: 14px;
