---
import Header from '../components/Header.astro'

const { title = 'Message Recieved | Soul Of The Gypsy' } = Astro.props
---

<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y6VYDL237R"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || []
			function gtag() {
				dataLayer.push(arguments)
			}
			gtag('js', new Date())

			gtag('config', 'G-Y6VYDL237R')
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/kev-ash-favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="noindex" />
		<title>{title}</title>

		<link rel="canonical" href={`https://soulofthegypsy.com/thank-you/`} />
	</head>
	<body>
		<div class="scroll-content">
			<Header />
			<slot />
		</div>
	</body>
</html>
