<section class="billboard-section">
	<div class="wrapper">
		<img src="/images/soul-billboard.png" alt="Soul Of The Gypsy Billboard Now Open" />
	</div>
</section>

<style lang="scss">
	.billboard-section {
		.wrapper {
			padding: 0;
		}
	}
</style>
