<section class="search-section">
	<div class="wrapper">
		<div class="title">
			<h2>Search by art style</h2>
		</div>
		<div class="cards">Going to create a or search by pop up menu</div>
	</div>
</section>

<style lang="scss">
	.search-section {
		.wrapper {
			.title {
				h2 {
					color: $white;
				}
			}
			.cards {
				color: $white;
			}
		}
	}
</style>
