<div class="loader">
	<div class="panel">
		<h3 class="tracked">
			<div class="track">
				<span id="target">KEV</span>
				<span id="target-two">ASH</span>
			</div>
		</h3>
	</div>
</div>

<script is:inline src="/ScrollSmoother.min.js"></script>
<script type="module">
	window.homeSmoother = ScrollSmoother.create({
		content: document.querySelector('.scroll-content'),
		smooth: 2, // how long (in seconds) it takes to "catch up" to the native scroll position
		effects: true, // looks for data-speed and data-lag attributes on elements
		smoothTouch: 0 // much shorter smoothing time on touch devices (default is NO smoothing on touch devices)
	})

	let homeSmoother = window.homeSmoother
	window.onload = (event) => {
		let urlHash = window.location.href.split('#')[1]

		let scrollElem = document.querySelector('#' + urlHash)

		if (urlHash && scrollElem) {
			homeSmoother.scrollTo(scrollElem, true, 'top top')
			console.log('scrolling to ' + urlHash)
		}
	}
</script>
<script>
	import { gsap } from 'gsap'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'
	import SplitType from 'split-type'

	gsap.registerPlugin(ScrollTrigger)
	const loaderTimeline = gsap.timeline({})

	// Register the ScrollSmoother plugin
	gsap.registerPlugin(ScrollSmoother)

	const loaderText = new SplitType('#target')
	const loaderTextTwo = new SplitType('#target-two')
	const html = document.querySelector('html')

	loaderTimeline
		.to('.panel', {
			clipPath: 'polygon(0 1%, 100% 1%, 100% 99.99%, 0% 99.99%)',
			ease: 'power1.ease'
		})
		.to('span .word .char', {
			y: '-110%',
			stagger: 0.05,
			duration: 0.3,
			ease: 'power1.out'
		})
		.to('.panel', {
			clipPath: 'polygon(0 1%, 100% 1%, 100% 1%, 0% 1%)',
			ease: 'power4.ease',
			delay: 0.2
		})
		.to(
			'.loader',
			{
				clipPath: 'polygon(0 0, 100% 0, 100% 1%, 0 1%)',
				ease: 'power1.ease',
				onComplete: () => {
					html.style.overflowY = 'auto'
				}
			},
			'-=0.25'
		)
		.to('main h1', {
			clipPath: 'polygon(-10% 0, 120% 0, 120% 100%, -10% 100%)',
			ease: 'power1.inOut',
			duration: 0.75
		})
		.to(
			'main h3',
			{
				clipPath: 'polygon(0 0, 100% 0, 100% 110%, 0 110%)',
				ease: 'power1.inOut',
				duration: 0.6
			},
			'-=0.35'
		)
		.to(
			'main img ',
			{
				scale: 1,
				ease: 'power1.inOut',
				duration: 0.4,
				onComplete: () => {
					document.querySelector('.loader').remove()
				}
			},
			'-=0.5'
		)
		.from(
			'main .florence-image',
			{
				transform: 'translate(-4rem, 18rem) skew(-10deg)',
				ease: 'power1.inOut'
			},
			'-=0.6'
		)
		.from(
			'main .soul-image',
			{
				transform: 'translate(10rem, 22rem) skew(-10deg)',
				ease: 'power1.inOut'
			},
			'-=0.2'
		)
</script>

<style is:global lang="scss">
	.loader {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		max-height: 1000px;
		z-index: 99990000000;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $white;
		clip-path: polygon(0 0, 100% 0, 100% 99.99%, 0 99.99%);
		pointer-events: none;
		&.disabled {
			opacity: 0;
		}

		.panel {
			clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
			background-color: $black;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		h3 {
			height: $h2 * 1.25;
			overflow: hidden;
			.track {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 1rem;
				padding-top: 0;
				span {
					font-size: $h2;
					line-height: 1.1;
					font-weight: 700;
					overflow: visible;

					&:nth-child(1) {
						color: $white;
						overflow: visible;
						letter-spacing: 1rem;
						width: 150%;

						.word {
							overflow: visible;
							max-width: 600px;
							text-align: center;
							width: 100%;

							.char {
								font-family: 'Chelantro';
								overflow: visible;
								clip-path: none;
							}
						}
					}
					&:nth-child(2) {
						color: $white;
						overflow: visible;
						letter-spacing: 1rem;
						width: 150%;

						.word {
							overflow: visible;
							max-width: 600px;
							text-align: center;
							width: 100%;

							.char {
								font-family: 'Chelantro';
								overflow: visible;
								clip-path: none;
							}
						}
					}

					@media (max-width: 700px) {
						font-size: $mobile-h2;
					}
				}
			}
		}
		@media (max-width: 700px) {
			.panel {
				h3 {
					height: $mobile-h2 * 1.1;
				}
			}
		}
	}
</style>
