---
import { formatText } from '../lib/formatText'
import { urlForImage } from '../lib/urlForImage'
const { image, text, title } = Astro.props

const paragraphs = formatText(text)
---

<main>
	<div class="wrapper">
		<img src="/images/singer-nobg 1.webp" alt="Howling Wolf" />
		<div class="content">
			<h1>{title}</h1>
			<img src="/images/kev-wall-dark.webp" alt="Kev Ash" />

			<div class="text">
				{paragraphs.map(({ paragraph }) => <p>{paragraph}</p>)}
			</div>
		</div>
	</div>
</main>

<script>
	import { gsap } from 'gsap'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'
	gsap.registerPlugin(ScrollTrigger)

	const aboutHeroTimeline = gsap.timeline()

	aboutHeroTimeline
		.to('main .content > img', {
			clipPath: 'polygon(0 1%, 100% 1%, 100% 100%, 0% 100%)'
		})
		.to('main h1', {
			y: 0,
			opacity: 1
		})
		.to('main p', {
			y: 0,
			opacity: 1,
			stagger: 0.2
		})
		.to(
			'main .wrapper > img',
			{
				scale: 1,
				stagger: 0.2
			},
			'-=0.5'
		)
</script>

<style lang="scss">
	main {
		.wrapper {
			position: relative;
			padding-block: 6rem;

			& > img {
				width: 100px;
				position: absolute;
				top: 55%;
				left: 25%;
				z-index: 10;
				scale: 0;

				&:nth-child(1) {
					width: clamp(50px, 15vw, 250px);
					left: 0;
					top: 42%;
				}
			}
			.content {
				max-width: 700px;
				margin-inline: auto;
				position: relative;

				& > img {
					// visibility: hidden;

					&:nth-child(2) {
						clip-path: polygon(0 99.9%, 100% 99.9%, 100% 100%, 0% 100%);
					}

					&:nth-child(3) {
						width: clamp(50px, 8vw, 100px);
						position: absolute;
						top: 5rem;
						right: 0;
					}
				}

				h1 {
					font-size: $h2;
					text-align: center;
					opacity: 0;
					transform: translateY(2rem);

					@media (max-width: 700px) {
						font-size: $mobile-h2;
					}
				}
				p {
					max-width: 42ch;
					margin-block-start: 1.5rem;
					padding-inline-start: 1.25rem;
					opacity: 0;
					transform: translateY(2rem);
				}
			}
		}
	}
</style>
