---
const { to, variant, text } = Astro.props
---

<a href={to}>
	<button class={variant}>
		{text}
		{
			variant === 'white-outline' ? (
				<span>
					<img src="/svg/plus-svgrepo-com-11.svg" alt="Plus Icon" />
					<img src="/svg/plus-svgrepo-com-11 copy.svg" alt="Plus Icon" />
				</span>
			) : (
				<span>
					<img src="/svg/plus-svgrepo-com-11 copy.svg" alt="Plus Icon" />
					<img src="/svg/plus-svgrepo-com-11.svg" alt="Plus Icon" />
				</span>
			)
		}
	</button>
</a>

<style lang="scss">
	a {
		button {
			padding: 0.75rem 2rem;
			font-weight: 500;
			cursor: pointer;
			display: flex;
			align-items: center;
			gap: 0.5rem;
			justify-content: space-between;

			span {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				img {
					width: 1rem;

					&:nth-of-type(2) {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						opacity: 0;
					}
				}
			}

			&.white-outline {
				background-color: transparent;
				border: 0.5px solid $white;
				color: $white;

				&:hover {
					background-color: $white;
					color: $black;
					transition:
						color 300ms ease,
						background-color 300ms ease;

					span {
						img {
							&:nth-of-type(1) {
								opacity: 0;
								transition: opacity 300ms ease;
							}
							&:nth-of-type(2) {
								opacity: 1;
								transition: opacity 300ms ease;
							}
						}
					}
				}
			}
			&.black-outline {
				background-color: transparent;
				border: 0.5px solid $black;
				color: $black;

				&:hover {
					background-color: $black;
					color: $white;
					transition:
						color 300ms ease,
						background-color 300ms ease;

					span {
						img {
							&:nth-of-type(1) {
								opacity: 0;
								transition: opacity 300ms ease;
							}
							&:nth-of-type(2) {
								opacity: 1;
								transition: opacity 300ms ease;
							}
						}
					}
				}
			}
		}
	}
</style>
