---
const { collections } = Astro.props
---

<footer>
	<div class="wrapper">
		<div class="footer-top">
			<div class="column">
				<div class="logo">
					<a href="/"> <img src="/svg/KEV ASH.svg" alt="Kev Ash Art Logo" /></a>
					<p>© {new Date().getFullYear()}</p>
				</div>
			</div>
			<div class="column home-column">
				<nav>
					<a href="/">
						<h3>Home</h3>
					</a>
					<a href="/#what-we-offer">
						<li>What we offer</li>
					</a>
					<a href="/#why-the-soul-of-the-gypsy">
						<li>Why the soul of the gypsy?</li>
					</a>
					<a href="/#contact">
						<li>Contact us</li>
					</a>
				</nav>
			</div>
			<div class="column about-column">
				<nav>
					<a href="/about-kev/">
						<h3>About Kev</h3>
					</a>
					<a href="/about-kev/#the-gypsy-lifestyle">
						<li>The gypsy lifestyle</li>
					</a>
					<a href="/about-kev/#kevs-inspiration">
						<li>Kevs Inspiration</li>
					</a>
				</nav>
			</div>
			<div class="column collections-column">
				<nav>
					<a href="/gallery/">
						<h3>Gallery</h3>
					</a>
					{
						collections.map((collection) => (
							<a href={`/gallery/#${collection.title.split(' ').join('-').toLowerCase()}`}>
								<li>{collection.title}</li>
							</a>
						))
					}
				</nav>
			</div>
			<div class="column">
				<h3>Follow Us</h3>
				<div class="socials">
					<a rel="external nofollow" target="_blank" href="https://instagram.com/kevinashart"
						><img src="/svg/instagram.svg" alt="Instagram Icon" /></a
					>
				</div>
			</div>
		</div>
		<div class="footer-bar">
			<div class="content">
				<a rel="external dofollow" target="_blank" href="https://islandwebdesign.net/">
					Website by...
					<img src="/svg/black-island-logo 2.svg" alt="Island Web Design Guernsey & Jersey Logo" />
				</a>
				<p>Copyright &copy; {new Date().getFullYear()}</p>
				<a
					href="https://www.themansellcollection.co.uk/kevin-ash"
					target="_blank"
					rel="external"
					class="mansell-collection"
				>
					<img
						id="mansell-logo"
						src="/images/mansell-logo-white 1.webp"
						alt="The Mansell Collection Logo"
					/>
					<div class="tooltip">
						<label for="mansell-logo">As featured in the Mansell Collection</label>
					</div>
				</a>
			</div>
		</div>
	</div>
</footer>

<style lang="scss">
	footer {
		.wrapper {
			padding-block: 4rem 2rem;

			.footer-top {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
				gap: 2rem;
				row-gap: 4rem;
				margin-inline: auto;
				.logo {
					img {
						width: 6rem;
					}
					p {
						color: $white;
					}
				}
				.column {
					&:first-child {
						padding-block-start: 0.75rem;
					}
					h4 {
						color: $white;
					}
					nav {
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						gap: 0.75rem;
						h3,
						li {
							color: $white;
						}
					}
					h3 {
						color: $white;
					}

					.socials {
						display: flex;
						align-items: center;
						gap: 1rem;
						margin-block: 1rem 0;

						img {
							width: 2.5rem;
						}
					}
				}
			}
			.footer-bar {
				margin-block-start: 4rem;

				.content {
					width: 100%;
					margin-inline: auto;
					display: flex;
					align-items: flex-end;
					justify-content: space-between;
					a {
						color: $white;
						font-size: $text;
						font-weight: 300;
						text-align: left;
						width: 200px;
						img {
							display: block;
							width: 125px;
							margin-block-start: 0.5rem;
						}
					}
					.mansell-collection {
						position: relative;
						width: 200px;
						display: flex;
						align-items: flex-end;
						justify-content: flex-end;
						&:hover .tooltip {
							visibility: visible;
							opacity: 1;
						}
						img {
							width: 100px;
						}
						.tooltip {
							visibility: hidden;
							background-color: $white;
							color: $black;
							text-align: center;
							position: absolute;
							z-index: 1;
							bottom: 100%;
							left: 50%;
							opacity: 0;
							transition: opacity 0.3s ease;
							padding-inline: 1rem;
							width: 100%;
							clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
							padding-block: 0.5rem 2rem;
							transform: translateX(-50%);

							label {
								max-width: 32ch;
								font-size: 14px;
								line-height: 1.3;
							}
						}
					}
				}
			}
		}
		@media (max-width: 600px) {
			.wrapper {
				.footer-bar {
					.content {
						a {
							width: 140px;
						}
						.mansell-collection {
							width: 140px;
						}
					}
				}
			}
		}
		@media (max-width: 550px) {
			.wrapper {
				.footer-bar {
					gap: 2rem;
					row-gap: 2rem;
				}
			}
		}

		@media (max-width: 463px) {
			.wrapper {
				.footer-bar {
					.content {
						flex-direction: column-reverse;
						align-items: flex-start;
						gap: 2rem;

						a {
							img {
								width: 100%;
							}
						}

						.mansell-collection {
							align-items: flex-start;
							justify-content: flex-start;

							img {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
</style>
