---
import Button from './Button.astro'
const { title } = Astro.props
---

<section class="gallery-cta-section">
	<div class="wrapper">
		<div class="title">
			<h2>{title}</h2>
			<Button text="Contact us now" variant="white-outline" to="/#contact" />
		</div>
		<img src="/images/florence-chapel.webp" alt="Florence Religious Chapel" />
	</div>
</section>

<script>
	import gsap from 'gsap'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'

	gsap.registerPlugin(ScrollTrigger)

	const tl = gsap.timeline({
		scrollTrigger: {
			start: 'top 70%',
			toggleActions: 'play none none reverse',
			trigger: '.gallery-cta-section .wrapper'
		}
	})

	tl.to('.gallery-cta-section .wrapper .title h2, .gallery-cta-section .wrapper a', {
		y: 0,
		opacity: 1,
		ease: 'power1.inOut',
		stagger: 0.2
	}).to(
		'.gallery-cta-section .wrapper > img',
		{
			y: 0,
			transform: 'skew(0deg)',
			ease: 'power1.inOut'
		},
		'-=0.25'
	)
</script>

<style is:global lang="scss">
	.gallery-cta-section {
		background-color: $blue;
		overflow-y: hidden;
		.wrapper {
			max-width: 100%;
			.title {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 2.5rem;
				margin-block-end: -12rem;
				h2 {
					text-align: center;
					max-width: 12ch;
					color: $white;
					transform: translateY(2rem);
					opacity: 0;
				}
				a {
					transform: translateY(2rem);
					opacity: 0;
				}
			}

			& > img {
				margin-inline-start: -4rem;
				align-self: flex-start;
				margin-block-end: -6rem;
				max-width: 800px;
				pointer-events: none;
				display: block;
				transform: translateY(24rem) skew(-10deg);
			}
		}
		@media (max-width: 1024px) {
			.wrapper {
				.title {
					margin-block-end: -8rem;
				}
			}
		}
		@media (max-width: 900px) {
			.wrapper {
				& > img {
				}
				.title {
					margin-block-end: -4rem;
				}
			}
		}
		@media (max-width: 500px) {
			.wrapper {
				& > img {
					margin-block-end: -3rem;
				}
			}
		}
	}
</style>
