<header>
	<div class="header-wrapper">
		<div class="content">
			<a href="/">
				<img src="/svg/KEV ASH.svg" alt="Kev Ash Art Logo" />
			</a>
			<div class="socials">
				<a href="https://facebook.com/">
					<img src="/svg/facebook.svg" alt="Facebook Icon" />
				</a>
				<a href="https://instagram.com/">
					<img src="/svg/instagram.svg" alt="Instagram Icon" />
				</a>
			</div>
		</div>

		<nav>
			<ul>
				<a href="/"> <li>Home</li></a>
				<a href="/about-kev/"><li>About Kev</li></a>
				<a href="/gallery/"><li>Gallery</li></a>
				<a href="/#contact/"><li>Contact us</li></a>
			</ul>
			<div class="buttons">
				<a href="/#contact">
					<button>
						Order Now
						<span>
							<img src="/svg/plus-svgrepo-com-11 copy.svg" alt="Plus Icon" />
							<img src="/svg/plus-svgrepo-com-11.svg" alt="Plus Icon" />
						</span>
					</button></a
				>
				<button class="openDialog" class="open-video">
					Watch video <span>
						<img src="/svg/plus-svgrepo-com-11.svg" alt="Plus Icon" />
						<img src="/svg/plus-svgrepo-com-11 copy.svg" alt="Plus Icon" />
					</span>
				</button>
			</div>
		</nav>
		<div class="dropdown">
			<img id="open-dropdown" src="/svg/menu-alt-02-svgrepo-com.svg" alt="Open Dropdown Menu" />
			<div aria-expanded="false" class="dropdown-menu">
				<img id="close-dropdown" src="/svg/close-lg-svgrepo-com.svg" alt="Close Icon" />
				<nav>
					<ul>
						<a href="/"> <li>Home</li></a>
						<a href="/about-kev/"><li>About Kev</li></a>
						<a href="/gallery/"><li>Gallery</li></a>
						<a href="/#contact/"><li>Contact us</li></a>
						<a href="/#contact/"><li>Order Now</li></a>
					</ul>

					<button class="openDialog" class="open-video">
						Watch video <span>
							<img src="/svg/plus-svgrepo-com-11.svg" alt="Plus Icon" />
							<img src="/svg/plus-svgrepo-com-11 copy.svg" alt="Plus Icon" />
						</span>
					</button>
				</nav>
			</div>
		</div>
	</div>
</header>

<script>
	const openDropdown = document.querySelector('#open-dropdown')
	const closeDropdown = document.querySelector('#close-dropdown')
	const dropdownMenu = document.querySelector('.dropdown-menu')

	openDropdown.addEventListener('click', () => {
		dropdownMenu.classList.add('active')
		dropdownMenu.setAttribute('aria-expanded', 'true')
	})

	closeDropdown.addEventListener('click', () => {
		dropdownMenu.classList.remove('active')
		dropdownMenu.setAttribute('aria-expanded', 'false')
	})
</script>

<script type="module">
	const mySmoother = window.homeSmoother

	document.addEventListener('DOMContentLoaded', (event) => {
		const button = document.querySelector('header a[href="/#contact"] button')

		if (button) {
			button.addEventListener('click', (event) => {
				// Check if we're on the home page
				if (window.location.pathname === '/') {
					event.preventDefault()
					// Use ScrollSmoother to scroll to the target element
					const target = document.querySelector('#contact')
					if (target) {
						mySmoother.scrollTo(target, true, 'top top')
					}
				}
			})
		}
	})
</script>

<style lang="scss">
	header {
		position: absolute;
		z-index: 10000;

		.header-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			max-width: 1440px;
			padding: 1rem 4rem;

			@media (max-width: 700px) {
				padding-inline: 2rem;
			}
			@media (max-width: 500px) {
				padding-inline: 1rem;
			}

			.content {
				display: flex;
				align-items: center;
				gap: 2rem;
			}

			.socials {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				gap: 1rem;

				img {
					width: 1.5rem;
				}
			}
			& > nav {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				gap: 2rem;
				.buttons {
					display: flex;
					align-items: center;
					gap: 1rem;

					a {
						button {
							background-color: $white;
							color: $black;
							display: flex;
							align-items: center;
							gap: 0.5rem;
							padding: 0.75rem 1rem;
							font-weight: 500;
							cursor: pointer;
							border: 0.5px solid $white;
							display: flex;
							align-items: center;
							gap: 0.5rem;
							justify-content: space-between;
							transition:
								background-color 0.3s ease-in-out,
								color 0.3s ease-in-out;

							span {
								position: relative;
								display: flex;
								align-items: center;
								justify-content: center;

								img {
									width: 1rem;
									transition: opacity 0.3s ease-in-out;

									&:nth-of-type(2) {
										position: absolute;
										top: 50%;
										left: 50%;
										transform: translate(-50%, -50%);
										z-index: -1;
									}
								}
							}
						}
						&:hover {
							button {
								background-color: transparent;
								color: $white;
								transition:
									background-color 0.3s ease-in-out,
									color 0.3s ease-in-out;

								span {
									img {
										&:nth-of-type(1) {
											opacity: 0;
											transition: opacity 0.3s ease-in-out;
										}
									}
								}
							}
						}
					}

					& > button {
						padding: 0.75rem 1rem;
						font-weight: 500;
						cursor: pointer;
						background-color: transparent;
						border: 0.5px solid $white;
						color: $white;
						display: flex;
						align-items: center;
						gap: 0.5rem;
						justify-content: space-between;
						transition:
							background-color 0.3s ease-in-out,
							color 0.3s ease-in-out;

						span {
							position: relative;
							display: flex;
							align-items: center;
							justify-content: center;

							img {
								width: 1rem;
								transition: opacity 0.3s ease-in-out;

								&:nth-of-type(2) {
									position: absolute;
									top: 50%;
									left: 50%;
									transform: translate(-50%, -50%);
									z-index: 0;
									opacity: 0;
									transition: opacity 0.3s ease-in-out;
								}
							}
						}

						&:hover {
							background-color: $white;
							color: $black;
							transition:
								background-color 0.3s ease-in-out,
								color 0.3s ease-in-out;

							span {
								position: relative;
								display: flex;
								align-items: center;
								justify-content: center;
								img {
									&:nth-of-type(1) {
										opacity: 0;
										transition: opacity 0.3s ease-in-out;
									}
									&:nth-of-type(2) {
										opacity: 1 !important;
										transition: opacity 0.3s ease-in-out;
									}
								}
							}
						}
					}
				}

				ul {
					display: flex;
					align-items: center;
					gap: 2rem;

					a {
						li {
							color: $white;
						}
					}
				}
			}
			.dropdown {
				display: none;
			}
		}
		@media (max-width: 1024px) {
			.header-wrapper {
				& > nav {
					display: none;
				}
				.dropdown {
					display: block;
					img {
						width: 3rem;
						cursor: pointer;
					}
					.dropdown-menu {
						width: 100vw;
						height: 100vh;
						position: absolute;
						inset: 0;
						background-color: $white;
						display: grid;
						place-content: center;
						clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
						transition: clip-path 300ms ease-in-out;

						&.active {
							clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
							transition: clip-path 300ms ease-in-out;
						}
						& > img {
							position: absolute;
							width: 2rem;
							top: 2rem;
							right: 2rem;
							cursor: pointer;
						}

						nav {
							ul {
								display: flex;
								flex-direction: column;
								align-items: flex-start;
								gap: 1.5rem;
							}
							& > button {
								margin-block-start: 1.5rem;
								padding: 0.75rem 1rem;
								font-weight: 500;
								cursor: pointer;
								background-color: transparent;
								border: 0.5px solid $black;
								color: $black;
								display: flex;
								align-items: center;
								gap: 0.5rem;
								justify-content: space-between;
								transition:
									background-color 0.3s ease-in-out,
									color 0.3s ease-in-out;

								span {
									position: relative;
									display: flex;
									align-items: center;
									justify-content: center;

									img {
										width: 1rem;
										transition: opacity 0.3s ease-in-out;

										&:nth-of-type(1) {
											position: absolute;
											top: 50%;
											left: 50%;
											transform: translate(-50%, -50%);
											z-index: 0;
											opacity: 0;
											transition: opacity 0.3s ease-in-out;
										}
									}
								}

								&:hover {
									background-color: $black;
									color: $white;
									transition:
										background-color 0.3s ease-in-out,
										color 0.3s ease-in-out;

									span {
										position: relative;
										display: flex;
										align-items: center;
										justify-content: center;
										img {
											&:nth-of-type(2) {
												opacity: 0;
												transition: opacity 0.3s ease-in-out;
											}
											&:nth-of-type(1) {
												opacity: 1 !important;
												transition: opacity 0.3s ease-in-out;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
</style>
