---
import { formatTitle } from '../lib/formatTitle.js'
import { formatSubtitle } from '../lib/formatTitle.js'
const { tag, title } = Astro.props

const formattedTitle = formatTitle(title)
---

<main>
	<div class="wrapper">
		<div class="florence-image">
			<img src="/images/new-hero-images/pngegg 1.webp" alt="Florence Chapel Art Inspiration" />
			<img src="/images/mobile-smaller/pngegg 2.webp" alt="Florence Chapel Art Inspiration" />
		</div>
		<div class="title">
			<h3>{tag}</h3>
			<h1 set:html={formattedTitle} />
		</div>
		<div class="soul-image">
			<img
				src="/images/mobile-smaller/soul-of-the-gypsy-nobg 3 1.webp"
				alt="Soul of the gypsy oil painting canvas"
			/>
			<img
				src="/images/mobile-smaller/soul-of-the-gypsy-nobg 3 1.webp"
				alt="Soul of the gypsy oil painting canvas"
			/>
		</div>
	</div>
</main>
<style is:global lang="scss">
	main {
		background-image: linear-gradient(to bottom, #030303, #03030300 25%),
			linear-gradient(to top, #030303, #03030300 70%), url('/images/gallery-hero-images.webp');
		background-size: cover;
		background-position: center;
		overflow-y: hidden;

		.wrapper {
			padding-block: 18rem 2rem;
			position: relative;
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			gap: 0;
			max-width: 100%;
			overflow: hidden;
			max-height: 1000px;

			.florence-image {
				display: flex;
				transform: translate(-4rem, 2rem) skew(0deg);
				width: calc(30% + 4rem);
				z-index: 1;

				img {
					&:nth-child(2) {
						display: none;
					}
					@media (max-width: 700px) {
						display: none;
						&:nth-child(2) {
							display: block;
						}
					}
				}
			}

			.soul-image {
				width: calc(30% + 4rem);
				transform: translate(10rem, 6rem) skew(0deg);

				img {
					&:nth-child(2) {
						display: none;
					}
					@media (max-width: 700px) {
						display: none;
						&:nth-child(2) {
							display: block;
						}
					}
				}
			}

			.title {
				width: 40%;
				h3 {
					color: $white;
					clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
					line-height: 1;
					text-align: center;
					width: max-content;
					margin-inline: auto;
					font-size: 24px;
					margin-block: 0 0.5rem;
				}
				h1 {
					clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
					font-size: clamp($mobile-h1, 14vw, $h1);
					text-align: center;
					width: max-content;
					margin-inline: auto;

					@media (max-width: 500px) {
						font-size: clamp(64px, 22vw, $mobile-h1) !important;
					}

					span {
						font-style: italic !important;
					}
				}
			}
		}
		@media (max-width: 1024px) {
			.wrapper {
				& > img {
					bottom: auto;
					top: 6rem;
					width: clamp(75px, 12vw, 150px);
				}
			}
		}
		@media (max-width: 900px) {
			background-image: linear-gradient(#03030370, #03030370 100%),
				url('/images/keith-bowler-jimmy-gallery-images-mobile.webp');

			.wrapper {
				padding-block: 30rem 2rem;
				max-height: 1000px;

				.title {
					position: absolute;
					top: 30%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 100%;

					h1 {
						font-size: $mobile-h1;
					}

					h3 {
						font-size: 20px;
					}
				}
				.florence-image {
					width: 100%;
					transform: none;
					margin-inline-start: -4rem;
					margin-block-end: -2rem;
					// border: 2px solid red;
				}
				.soul-image {
					width: 100%;
					transform: none;
					margin-inline-end: -8rem;
					margin-block-end: -6rem;
				}
			}
		}
		@media (max-width: 700px) {
			.wrapper {
				.forence-image {
					transform: translate(-2rem, 2rem) skew(0deg);
				}
				.soul-image {
					transform: translate(2rem, 2rem) skew(0deg);
				}
			}
		}
		@media (max-width: 500px) {
			.wrapper {
				.forence-image {
					transform: translate(-1rem, 2rem) skew(0deg);
				}
				.soul-image {
					transform: translate(1rem, 1rem) skew(0deg);
				}
			}
		}
		@media (max-width: 450px) {
			.wrapper {
				.title {
					h3 {
						font-size: 14px;
						span {
							font-size: calc(20px * 1.4);
							vertical-align: middle;
						}
					}
				}
				.florence-image {
					margin-inline-start: -4rem;
					margin-inline-end: -3rem;
					margin-block-end: -2rem;
				}
				.soul-image {
					margin-inline-end: -8rem;
					margin-inline-start: -3rem;
					margin-block-end: -6rem;
				}
			}
		}
	}
</style>
