---
import { formatTitle } from '../lib/formatTitle.js'
import { formatSubtitle } from '../lib/formatTitle.js'
const { tag, title } = Astro.props

const formattedTitle = formatTitle(title)
const formattedSubtitle = formatSubtitle(tag)
---

<main>
	<div class="wrapper">
		<div class="title">
			<img
				src="/images/351769015_680000343919710_6624808798732099216_n (1) 1.png"
				alt="Laughing Man Pencil Illustration"
			/>
			<h3 set:html={formattedSubtitle} />
			<h1 set:html={formattedTitle} />
		</div>
		<img src="/images/stickers/paul-siminon 2.png" alt="Dan Siminon Sticker" />
	</div>
</main>
<style is:global lang="scss">
	main {
		background-image: url('/images/marbel-hero-canvas-illustration.png');
		background-size: cover;
		background-position: center;

		.wrapper {
			padding-block: 24rem 2rem;
			position: relative;
			& > img {
				position: absolute;
				bottom: 2rem;
				right: 2rem;
				width: clamp(100px, 15vw, 200px);
			}
			.title {
				img {
					width: 100px;
					margin-block-end: 1.5rem;
					scale: 0;
				}

				h3 {
					color: $white;
					clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
					margin-block-end: -1rem;

					span {
						font-family: 'Hyperwave';
						font-size: calc($h3 * 1.4);
						vertical-align: middle;
					}
				}
				h1 {
					clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);

					span {
						font-style: italic !important;
					}
				}
			}
		}
		@media (max-width: 1024px) {
			.wrapper {
				& > img {
					bottom: auto;
					top: 6rem;
					width: clamp(75px, 12vw, 150px);
				}
			}
		}
		@media (max-width: 700px) {
			.wrapper {
				padding-block: 22rem 2rem;
				.title {
					h3 {
						span {
							font-size: calc($mobile-h3 * 1.4);
						}
					}
				}
			}
		}
	}
</style>
