---
const { projects, pagename } = Astro.props
import Project from './items/Project.astro'
---

<section class="project-grid-section">
	<div class={pagename === 'gallery' ? 'wrapper gallery-page' : 'wrapper'}>
		{
			projects.map((project, index) => (
				<Project
					sticker={project.sticker ? project.sticker : null}
					index={index}
					image={project.image}
					title={project.title}
					text={project.description}
				/>
			))
		}
	</div>
</section>

<script>
	import { gsap } from 'gsap'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'
	gsap.registerPlugin(ScrollTrigger)

	const allProjectItems = document.querySelectorAll('.project .mask > img')
	const allProjectItemsText = document.querySelectorAll('.project > .text')

	allProjectItems.forEach((project, index) => {
		const projectText = allProjectItemsText[index]

		const tl = gsap.timeline({
			scrollTrigger: {
				trigger: project,
				start: 'top 80%',
				toggleActions: 'play none none reverse'
			}
		})

		tl.to(project, {
			clipPath: 'polygon(0 0, 100% 0, 100% 100%, 0% 100%)'
		})
			.to(
				project,
				{
					scale: 1,
					ease: 'power1.inOut'
				},
				'-=0.35'
			)
			.to(projectText, {
				opacity: 1,
				y: 0,
				duration: 0.5
			})
	})
</script>

<style lang="scss">
	.project-grid-section {
		.wrapper {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 6rem;
			row-gap: 12rem;
			position: relative;

			&.gallery-page {
				& > img {
					position: absolute;
					width: 60px;
					z-index: 10;
					top: 4rem;
					left: 3rem;

					&:nth-child(1) {
						right: 1rem;
						width: 100px;
						left: auto;
					}
					&:nth-child(2) {
						right: 72%;
						width: 50px;
						top: 45%;
						left: auto;
					}

					&:nth-child(3) {
						right: 1rem;
						width: 100px;
						left: auto;
						top: 50%;
					}
				}
			}

			& > img {
				position: absolute;
				width: 60px;
				z-index: 10;
				top: 4rem;
				left: 3rem;

				&:nth-child(2) {
					right: 38%;
					width: 50px;
					left: auto;
				}
				&:nth-child(3) {
					right: 1rem;
					width: 100px;
					left: auto;
				}
			}
		}
		@media (max-width: 1024px) {
			.wrapper {
				gap: 2rem;
				row-gap: 6rem;
			}
		}
		@media (max-width: 800px) {
			.wrapper {
				grid-template-columns: 1fr 1fr;
				column-gap: 4rem;
			}
		}
		@media (max-width: 500px) {
			.wrapper {
				grid-template-columns: 1fr;
				column-gap: 4rem;
			}
		}
	}
</style>
