---
const { title } = Astro.props
---

<section class="video-section">
	<div class="wrapper">
		<video id="video" playsinline controls src="/videos/kev-ash-video.mp4"></video>
		<div id="play-button" class="play-button"></div>
	</div>
</section>

<style lang="scss">
	.video-section {
		.wrapper {
			width: 100%;
			position: relative;

			video {
				scale: 0.5;
			}

			.play-button {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 6rem;
				height: 6rem;
				background: url('/svg/play-svgrepo-com.svg') no-repeat center center;
				background-size: contain;
				cursor: pointer;
			}
		}
	}
</style>

<script>
	import { gsap } from 'gsap'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'

	gsap.registerPlugin(ScrollTrigger)

	gsap.to('.video-section video', {
		scrollTrigger: {
			trigger: '.video-section video',
			start: 'top 50%',

			toggleActions: 'play none none reverse'
		},
		scale: 1
	})

	document.getElementById('play-button').addEventListener('click', function () {
		document.getElementById('video').play()
		this.style.display = 'none'
	})
</script>
